<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard data</title>
  <style>
    .links-container{
      text-decoration: none;
    }
  </style>
</head>
<body>

  <div class="links-container">
    {% for info in data %}
    <span style="text-decoration:none;">
      <a href="brief-detail/{{ info.id }}">
        <ul><li> {{ info.id }} &nbsp;{{ info.title }}</li></ul>
      </a>
      <hr>
      </span>
    {% endfor %}
  </div>
  
</body>
</html>
