<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard data</title>
  <style>
    .links-container{
      text-decoration: none;
    }
    li{
      color: black;
    }
  </style>
</head>
<body>

  <div class="links-container">
    {% for info in data %}
      <a href="brief-detail/{{info.id }}" style="text-decoration: none;">
        <ul><li>{{ info.id }} &RightArrow;&ThickSpace; &nbsp;{{ info.title }}</li></ul>
      </a>
      <hr>
    {% endfor %}
  </div>
  
</body>
</html>
